
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&family=Roboto+Condensed:wght@300&display=swap');
/* utility class */
.center{
   text-align: center;
}
.bg{
    background-color: red;
}
.mx-auto{
    margin: auto;
}
/* .m20{
    max-width: 30vw;
} */

/* creating flex box */
.flex{
display: flex;
}
.flex-col{
    flex-direction: column;
}
/* style */
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;

}
button{
    padding: 20px;
    margin: 0 3px;
    cursor:pointer;
    border-radius: 9px;
    border: 2px solid black;
}
.row{
    margin: 8px 0;

}
.row input{
    font-size: 20px;
    margin: 0 ;
    padding: 10px 0px;
    border: 2px solid black;
    border: radius 5px; ;

}