*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body , html{
    display: grid;
    min-height: 100%;
    place-items: center;
    background-color: #eff4f5;
}
/* utililty classes */
.main{
    width: 600px;
    height: 350px;
    box-shadow: 10px 10px 15px salmon ,-10px -10px 15px coral ;
    /* flex property */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:22px ;
}
h2{
    font-size: 2.5rem;
}
#count{
    margin: 1rem;
    font-size: 3.5rem;
}
.btn{
    font-size: 1rem;
    outline: none;
    padding: 0.5rem  1rem;
    cursor: pointer;
    margin: 0.8px;
}
